html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #cfe2f3;
}

/*body {
  width: 800px;
  margin: 0 auto;
  background-color: #f99655;
  padding: 0 20px 20px 20px;
  border: 5px solid grey;
}*/

p,li {
  font-size:16px;
  line-height: 2;
  letter-spacing: 1px;
  color: red;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 1px solid grey;
  //background-color: grey;
  //text-shadow: grey;
  //display:table-caption;
}

h1 {
  font-size: 60px;
  margin: 0;
  text-align: center;
  padding: 20px 0;
  color: #e06666;
  text-shadow: 3px 3px 1px #ce2727;
}

img {
  display: block;
  margin: 0 auto;
}

#main {
  text-align: center;
}

#button {
  text-align: center;
}
